In [2]:
import pandas as pd
import numpy as np
import datetime

Tabela customers tirar colunas (deixar tudo relacionado com os costumrs) 

Tabelas holidays tirar anos que nao servem (ficar com 2012 a 2015) e formatar as colunas 

GDP - Erase County from the GDP table and group values by states 

- Say that the GDP data has hawaii and alaska and that they should not be considered when grouping the data 

- Reformat date from holiday dataset to the main dataset 

- Grouping counties by state have a column wih the average gdp for state and the sum of gdps of counties for each state. 

Formatar todas as colunas que faltam na main e  


#### holiday

In [118]:
holiday = pd.read_csv("HolidayUSA.csv", delimiter=",", encoding="windows-1252")

In [119]:
#filtrar anos que nao estao entre 2012 e 2015
holiday = holiday[holiday['Year'].isin([2012, 2013, 2014, 2015])]

In [121]:
#converter Date de int para date type
holiday['Date'] = pd.to_datetime(holiday['Date'], format='%Y-%m-%d')
holiday['Date'] = holiday['Date'].dt.strftime('%d-%m-%Y')

#### gdp

In [86]:
gdp = pd.read_csv("highest_gdp.csv", delimiter=",", encoding="windows-1252")

In [87]:
#filtering out entries with states Alaska
gdp = gdp[gdp['State'] != "Alaska"]

In [88]:
#Hawaii entries filtered too
gdp = gdp[gdp['State'] != "Hawaii"]

In [89]:
#tirar region, sub_region, county
gdp.drop(['Region','SUB_REGION','County'], axis = 1, inplace = True)

In [90]:
print("nr of states:", len(pd.unique(gdp['State'])))
print("unique states:\n", pd.unique(gdp['State']))

nr of states: 49
unique states:
 ['Alabama' 'Arizona' 'Arkansas' 'California' 'Colorado' 'Idaho' 'Illinois'
 'Indiana' 'Iowa' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Connecticut' 'Delaware' 'District of Columbia'
 'Florida' 'Georgia' 'South Dakota' 'Tennessee' 'Texas' 'Kansas'
 'Kentucky' 'Louisiana' 'Utah' 'Vermont' 'Virginia' 'Washington'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'West Virginia' 'Wisconsin' 'Missouri' 'Wyoming' 'Montana'
 'Nebraska' 'Nevada' 'New Hampshire' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Rhode Island' 'South Carolina']

In [91]:
#filtrar anos que nao estao entre 2012 e 2015
gdp = gdp[gdp['Year'].isin([2012, 2013, 2014, 2015])]

In [92]:
gdp.head(5)

      index  Year    State  GDP (Chained $)
2393   2393  2012  Alabama     1.482770e+09
2394   2394  2012  Alabama     5.016735e+09
2395   2395  2012  Alabama     7.269090e+08
2396   2396  2012  Alabama     3.744350e+08
2397   2397  2012  Alabama     8.047630e+08

In [73]:
#colocar em cada linha no respetivo year e state o gdp de todos os counties desse year e state

#usar dataframe.groupby??

# gdp['Average GDP of counties in state']
# gdp['GDP sum of counties in state']

# for i in len(pd.unique(gdp['Year']):
#     for j len(pd.unique(gdp['State']):

nr of states: 49
unique states:
 ['Alabama' 'Arizona' 'Arkansas' 'California' 'Colorado' 'Connecticut'
 'Delaware' 'District of Columbia' 'Florida' 'Georgia' 'Idaho'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana'
 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi'
 'Missouri' 'Montana' 'South Dakota' 'Tennessee' 'Texas' 'Oklahoma'
 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina' 'Utah' 'Vermont'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' 'Nebraska'
 'Nevada' 'New Hampshire']

In [84]:
#converter year de int para date type
gdp['Year'] = pd.to_datetime(gdp['Year'], format='%Y')

In [85]:
#nao consegui fazer com que apenas mostrasse ano sem o dia e mes a 1
print (gdp)
print (gdp.dtypes)

       index       Year    State  GDP (Chained $)
2393    2393 2012-01-01  Alabama     1.482770e+09
2394    2394 2012-01-01  Alabama     5.016735e+09
2395    2395 2012-01-01  Alabama     7.269090e+08
2396    2396 2012-01-01  Alabama     3.744350e+08
2397    2397 2012-01-01  Alabama     8.047630e+08
...      ...        ...      ...              ...
45824  45824 2013-01-01    Texas     1.095677e+10
45825  45825 2013-01-01    Texas     3.458479e+09
45826  45826 2013-01-01    Texas     8.292390e+08
45827  45827 2013-01-01    Texas     2.477450e+08
45828  45828 2013-01-01    Texas     3.282666e+09

[12228 rows x 4 columns]
index                       int64
Year               datetime64[ns]
State                      object
GDP (Chained $)           float64
dtype: object