# IPAI Project

## Group 1
#### Tiago Rodrigues (49593)
#### Ivo Oliveira (50301)
#### Martim Silva (51304)
#### Alexandre Sobreira (59451)

1st Phase - Point 2

# Libraries

In [3]:
import pandas as pd

## Orders (Main table)

For the Orders dataset the following steps were performed:
- Read in the dataset
- Convert Row ID and Quantity to integer data type
- Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
- Convert Ship Date and Order Date to date data type
- Convert Segment, Category, Sub-Category and Order Priority to category data type
- Drop the Postal Code column since it wont be used for the analysis

In [3]:
# Read in the dataset
orders = pd.read_excel('../data/Raw_Tables/orders_RAW.xlsx')

# Convert Row ID and Quantity to integer data type
orders['Row ID'] = orders['Row ID'].astype(int)
orders['Quantity'] = orders['Quantity'].astype(int)

# Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
orders['Order ID'] = orders['Order ID'].astype(str)
orders['Customer ID'] = orders['Customer ID'].astype(str)
orders['Customer Name'] = orders['Customer Name'].astype(str)
orders['City'] = orders['City'].astype(str)
orders['State'] = orders['State'].astype(str)
orders['Country'] = orders['Country'].astype(str)
orders['Region'] = orders['Region'].astype(str)
orders['Market'] = orders['Market'].astype(str)
orders['Product ID'] = orders['Product ID'].astype(str)
orders['Product Name'] = orders['Product Name'].astype(str)

# Convert Ship Date and Order Date to date data type
orders['Ship Date'] = pd.to_datetime(orders['Ship Date'])
orders['Order Date'] = pd.to_datetime(orders['Order Date'])

# Convert Segment, Category, Sub-Category and Order Priority to category data type
orders['Segment'] = orders['Segment'].astype('category')
orders['Category'] = orders['Category'].astype('category')
orders['Sub-Category'] = orders['Sub-Category'].astype('category')
orders['Order Priority'] = orders['Order Priority'].astype('category')

In [4]:
orders = orders.drop('Postal Code', axis=1)

In [5]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int32
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  category
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Region          51290 non-null  object
 12  Market          51290 non-null  object
 13  Product ID      51290 non-null  object
 14  Category        51290 non-null  category
 15  Sub-Category    51290 non-null  category
 16  Product Name    51290 non-null  object
 17  Sales           51290 non-null  float64
 18  Quantity        51290 non-null  int32
 19  Discount        51290 non-null  float64
 20  Profit          51290 non-null  float64
 21  Shipping Cost   51290 non-null  float64
 22  Order Priority  51290 non-null  category
dtypes: category(4), datetime64[ns](2), float64(4), int32(2), object(11)
memory usage: 7.2+ MB

In [4]:
#How many customers
len(orders["Customer Name"].unique())

796

In [20]:
#orders.to_csv('orders_NEW.csv', index=False)

## Customers Table

For the customers_USA dataset the following steps were performed:
- Read in the dataset
- Convert Row ID and Quantity to integer data type
- Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
- Convert Ship Date and Order Date to date data type
- Convert Segment, Category, Sub-Category and Order Priority to category data type
- Drop the Postal Code column since it wont be used for the analysis

In [6]:
# Read in the dataset
customers_USA = pd.read_csv('customers_USA.csv', encoding='latin1')

# Convert Row ID and Quantity to integer data type
customers_USA['Row ID'] = customers_USA['Row ID'].astype(int)
customers_USA['Quantity'] = customers_USA['Quantity'].astype(int)

# Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
customers_USA['Order ID'] = customers_USA['Order ID'].astype(str)
customers_USA['Customer ID'] = customers_USA['Customer ID'].astype(str)
customers_USA['Customer Name'] = customers_USA['Customer Name'].astype(str)
customers_USA['City'] = customers_USA['City'].astype(str)
customers_USA['State'] = customers_USA['State'].astype(str)
customers_USA['Country'] = customers_USA['Country'].astype(str)
customers_USA['Region'] = customers_USA['Region'].astype(str)
customers_USA['Product ID'] = customers_USA['Product ID'].astype(str)
customers_USA['Product Name'] = customers_USA['Product Name'].astype(str)

# Convert Ship Date and Order Date to date data type
customers_USA['Ship Date'] = pd.to_datetime(customers_USA['Ship Date'])
customers_USA['Order Date'] = pd.to_datetime(customers_USA['Order Date'])

# Convert Segment, Category, Sub-Category and Order Priority to category data type
customers_USA['Segment'] = customers_USA['Segment'].astype('category')
customers_USA['Category'] = customers_USA['Category'].astype('category')
customers_USA['Sub-Category'] = customers_USA['Sub-Category'].astype('category')

In [15]:
#customers_USA.to_csv('customers_USA_NEW.csv', index=False)

In [7]:
customers_USA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int32
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   category
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   category
 15  Sub-Category   9994 non-null   category
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int32
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: category(3), datetime64[ns](2), float64(3), int32(2), int64(1), object(10)
memory usage: 1.3+ MB

## Returns Table

For the Returns dataset the following steps were performed:
- Read in the dataset
- Convert Order ID and Region to string data type
- Convert Returned column to a boolean data type

In [8]:
# Read in the dataset
returns = pd.read_csv('returns.csv', encoding='latin1')

# Convert Order ID and Region to string data type
returns['Order ID'] = returns['Order ID'].astype(str)
returns['Region'] = returns['Region'].astype(str)

# Convert Returned column to a boolean data type
returns['Returned'] = returns['Returned'].map({'Yes': True, 'No': False})
returns['Returned'] = returns['Returned'].astype(bool)
returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  1079 non-null   bool
 1   Order ID  1079 non-null   object
 2   Region    1079 non-null   object
dtypes: bool(1), object(2)
memory usage: 18.0+ KB

In [16]:
#returns.to_csv('returns_NEW.csv', index=False)

## Sellers

For the Sellers dataset the following steps were performed:
- Read in the dataset
- Convert Person and Region to string data type

In [9]:
# Read in the dataset
sellers = pd.read_csv('sellers.csv', delimiter=';')

# Convert Person and Region to string data type
sellers['Person'] = sellers['Person'].astype(str)
sellers['Region'] = sellers['Region'].astype(str)

returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  1079 non-null   bool
 1   Order ID  1079 non-null   object
 2   Region    1079 non-null   object
dtypes: bool(1), object(2)
memory usage: 18.0+ KB

In [17]:
#sellers.to_csv('sellers_NEW.csv', index=False)

## GDP

For the GDP_USA dataset the following steps were performed:
- Read in the dataset
- Filter out all entries where the state is either Alaska or Hawaii
- Remove Region, SUB-REGION, County columns
- Filter the years that are not between 2012 and 2015
- Convert Year to an integer date type
- Calculate the mean and sum of the GDP values for each state and year

In [4]:
# Read in the dataset
gdp = pd.read_csv("../data/Raw_Tables/GDP_USA_RAW.csv", delimiter=",", encoding="windows-1252")

# Filter out all entries where the state is either Alaska or Hawaii.
gdp = gdp[(gdp['State'] != "Alaska") & (gdp['State'] != "Hawaii")]

# Remove Region, SUB-REGION, County columns
gdp.drop(['Region','SUB_REGION','County'], axis = 1, inplace = True)

# Filter the years that are not between 2012 and 2015
gdp = gdp[gdp['Year'].isin([2012, 2013, 2014, 2015])]

# Convert Year to an integer date type
gdp['Year'] = pd.to_datetime(gdp['Year'], format='%Y') 

# Calculate the mean and sum of the GDP values for each state and year
result = gdp.groupby(['State'])['GDP (Chained $)'].agg(['mean'])
result

                              mean
State
Alabama               2.800666e+09
Arizona               1.820583e+10
Arkansas              1.491023e+09
California            3.925574e+10
Colorado              4.532296e+09
Connecticut           3.017599e+10
Delaware              2.087840e+10
District of Columbia  1.143905e+11
Florida               1.193218e+10
Georgia               2.896556e+09
Idaho                 1.375440e+09
Illinois              7.169497e+09
Indiana               3.333621e+09
Iowa                  1.637191e+09
Kansas                1.358419e+09
Kentucky              1.493476e+09
Louisiana             3.619598e+09
Maine                 3.321592e+09
Maryland              1.410144e+10
Massachusetts         3.239691e+10
Michigan              5.172281e+09
Minnesota             3.497891e+09
Mississippi           1.218117e+09
Missouri              2.370631e+09
Montana               7.699758e+08
Nebraska              1.142196e+09
Nevada                7.668025e+09
New Hampshire         6.938747e+09
New Jersey            2.505048e+10
New Mexico            2.686694e+09
New York              2.162467e+10
North Carolina        4.523661e+09
North Dakota          1.015083e+09
Ohio                  6.376435e+09
Oklahoma              2.385888e+09
Oregon                5.029293e+09
Pennsylvania          9.852809e+09
Rhode Island          1.044762e+10
South Carolina        3.955402e+09
South Dakota          6.690601e+08
Tennessee             3.062775e+09
Texas                 5.908473e+09
Utah                  4.640777e+09
Vermont               2.050231e+09
Virginia              3.179555e+09
Washington            1.078327e+10
West Virginia         1.268995e+09
Wisconsin             3.888268e+09
Wyoming               1.688115e+09

In [8]:
gdp["Year"].unique()

array(['2012-01-01T00:00:00.000000000', '2014-01-01T00:00:00.000000000',
       '2015-01-01T00:00:00.000000000', '2013-01-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [29]:
result = result.reset_index().rename(columns={'mean': 'Mean'})
result = pd.DataFrame(result)
result = result.drop(columns=['level_0', 'index'])
result['Mean'] = result['Mean'].round(3)
result

ValueError: cannot insert level_0, already exists

In [37]:
result

                   State          Mean
0                Alabama  2.800666e+09
1                Arizona  1.820583e+10
2               Arkansas  1.491023e+09
3             California  3.925574e+10
4               Colorado  4.532296e+09
5            Connecticut  3.017599e+10
6               Delaware  2.087840e+10
7   District of Columbia  1.143905e+11
8                Florida  1.193218e+10
9                Georgia  2.896556e+09
10                 Idaho  1.375440e+09
11              Illinois  7.169497e+09
12               Indiana  3.333621e+09
13                  Iowa  1.637191e+09
14                Kansas  1.358419e+09
15              Kentucky  1.493476e+09
16             Louisiana  3.619598e+09
17                 Maine  3.321592e+09
18              Maryland  1.410144e+10
19         Massachusetts  3.239691e+10
20              Michigan  5.172281e+09
21             Minnesota  3.497891e+09
22           Mississippi  1.218117e+09
23              Missouri  2.370631e+09
24               Montana  7.699758e+08
25              Nebraska  1.142196e+09
26                Nevada  7.668025e+09
27         New Hampshire  6.938747e+09
28            New Jersey  2.505048e+10
29            New Mexico  2.686694e+09
30              New York  2.162467e+10
31        North Carolina  4.523661e+09
32          North Dakota  1.015083e+09
33                  Ohio  6.376435e+09
34              Oklahoma  2.385888e+09
35                Oregon  5.029293e+09
36          Pennsylvania  9.852809e+09
37          Rhode Island  1.044762e+10
38        South Carolina  3.955402e+09
39          South Dakota  6.690601e+08
40             Tennessee  3.062775e+09
41                 Texas  5.908473e+09
42                  Utah  4.640777e+09
43               Vermont  2.050231e+09
44              Virginia  3.179555e+09
45            Washington  1.078327e+10
46         West Virginia  1.268995e+09
47             Wisconsin  3.888268e+09
48               Wyoming  1.688115e+09

In [38]:
#gdp.to_csv('GDP_USA_NEW.csv', index=False)
#result.to_csv('AVG_GDP_USA_NEW.csv', index=False)

## Holidays

For the holiday_USA dataset the following steps were performed:
- Read in the dataset
- Filter the years that are not between 2012 and 2015
- Convert the column Date to a date data type

In [12]:
# Read in the dataset
holiday = pd.read_csv("../data/Raw_Tables/holiday_USA_RAW.csv", delimiter=",", encoding="windows-1252")

# Filter the years that are not between 2012 and 2015
holiday = holiday[holiday['Year'].isin([2012, 2013, 2014, 2015])]

# Convert the column Date to a date data type
holiday['Date'] = pd.to_datetime(holiday['Date'], format='%Y-%m-%d')
holiday['Date'] = holiday['Date'].dt.strftime('%d-%m-%Y')

# Correct  " New Yearâ€™s Eve " & " Valentineâ€™s Day " 
holiday["Holiday"] = holiday["Holiday"].replace({
    "New Yearâ€™s Eve": "New Years Eve",
    "Valentineâ€™s Day": "Valentines Day"
})

holiday.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 8 to 339
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     76 non-null     object
 1   Holiday  76 non-null     object
 2   WeekDay  76 non-null     object
 3   Month    76 non-null     int64
 4   Day      76 non-null     int64
 5   Year     76 non-null     int64
dtypes: int64(3), object(3)
memory usage: 4.2+ KB

In [19]:
holiday.to_csv('holiday_USA_NEW.csv', index=False)