# Libraries

In [44]:
import pandas as pd

## Orders (Main table)

In [45]:
# Read in the dataset
main = pd.read_excel('main.xlsx')

# Convert Row ID and Quantity to integer data type
main['Row ID'] = main['Row ID'].astype(int)
main['Quantity'] = main['Quantity'].astype(int)

# Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
main['Order ID'] = main['Order ID'].astype(str)
main['Customer ID'] = main['Customer ID'].astype(str)
main['Customer Name'] = main['Customer Name'].astype(str)
main['City'] = main['City'].astype(str)
main['State'] = main['State'].astype(str)
main['Country'] = main['Country'].astype(str)
main['Region'] = main['Region'].astype(str)
main['Market'] = main['Market'].astype(str)
main['Product ID'] = main['Product ID'].astype(str)
main['Product Name'] = main['Product Name'].astype(str)

# Convert Ship Date and Order Date to date data type
main['Ship Date'] = pd.to_datetime(main['Ship Date'])
main['Order Date'] = pd.to_datetime(main['Order Date'])

# Convert Segment, Category, Sub-Category and Order Priority to category data type
main['Segment'] = main['Segment'].astype('category')
main['Category'] = main['Category'].astype('category')
main['Sub-Category'] = main['Sub-Category'].astype('category')
main['Order Priority'] = main['Order Priority'].astype('category')

In [46]:
main = main.drop('Postal Code', axis=1)

In [47]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int32
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  category
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Region          51290 non-null  object
 12  Market          51290 non-null  object
 13  Product ID      51290 non-null  object
 14  Category        51290 non-null  category
 15  Sub-Category    51290 non-null  category
 16  Product Name    51290 non-null  object
 17  Sales           51290 non-null  float64
 18  Quantity        51290 non-null  int32
 19  Discount        51290 non-null  float64
 20  Profit          51290 non-null  float64
 21  Shipping Cost   51290 non-null  float64
 22  Order Priority  51290 non-null  category
dtypes: category(4), datetime64[ns](2), float64(4), int32(2), object(11)
memory usage: 7.2+ MB

## Customers Table

In [48]:
# Read in the dataset
customers = pd.read_csv('costumers.csv', encoding='latin1')

# Convert Row ID and Quantity to integer data type
customers['Row ID'] = customers['Row ID'].astype(int)
customers['Quantity'] = customers['Quantity'].astype(int)

# Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
customers['Order ID'] = customers['Order ID'].astype(str)
customers['Customer ID'] = customers['Customer ID'].astype(str)
customers['Customer Name'] = customers['Customer Name'].astype(str)
customers['City'] = customers['City'].astype(str)
customers['State'] = customers['State'].astype(str)
customers['Country'] = customers['Country'].astype(str)
customers['Region'] = customers['Region'].astype(str)
customers['Product ID'] = customers['Product ID'].astype(str)
customers['Product Name'] = customers['Product Name'].astype(str)

# Convert Ship Date and Order Date to date data type
customers['Ship Date'] = pd.to_datetime(df['Ship Date'])
customers['Order Date'] = pd.to_datetime(df['Order Date'])

# Convert Segment, Category, Sub-Category and Order Priority to category data type
customers['Segment'] = customers['Segment'].astype('category')
customers['Category'] = customers['Category'].astype('category')
customers['Sub-Category'] = customers['Sub-Category'].astype('category')

In [49]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int32
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   category
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   category
 15  Sub-Category   9994 non-null   category
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int32
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: category(3), datetime64[ns](2), float64(3), int32(2), int64(1), object(10)
memory usage: 1.3+ MB

## Returns Table

In [50]:
returns = pd.read_csv('returns.csv', encoding='latin1')
# Convert Row ID and Quantity to integer data type
customers['Order ID'] = customers['Order ID'].astype(str)
customers['Region'] = customers['Region'].astype(str)
#customers['Returned'] = customers['Returned'].map({'Yes': True, 'No': False})
#customers['Returned'] = customers['Returned'].astype(bool)
returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  1079 non-null   object
 1   Order ID  1079 non-null   object
 2   Region    1079 non-null   object
dtypes: object(3)
memory usage: 25.4+ KB

## Sellers

In [51]:
sellers = pd.read_csv('sellers.csv', delimiter=';')
print(sellers)
# Convert Row ID and Quantity to integer data type
sellers['Person'] = sellers['Person'].astype(str)
sellers['Region'] = sellers['Region'].astype(str)
#customers['Returned'] = customers['Returned'].map({'Yes': True, 'No': False})
#customers['Returned'] = customers['Returned'].astype(bool)

                  Person             Region
0      Marilène Rousseau          Caribbean
1       Andile Ihejirika     Central Africa
2      Nicodemo Bautista    Central America
3         Cansu Peynirci       Central Asia
4             Lon Bonher         Central US
5           Wasswa Ahmed     Eastern Africa
6          Hadia Bousaid       Eastern Asia
7         Lynne Marchand     Eastern Canada
8          Oxana Lagunov     Eastern Europe
9          Dolores Davis         Eastern US
10      Lindiwe Afolayan       North Africa
11          Miina Nylund    Northern Europe
12           Kauri Anaru            Oceania
13       Vasco Magalhães      South America
14      Preecha Metharom  Southeastern Asia
15          Nora Cuijper    Southern Africa
16  Chandrakant Chaudhri      Southern Asia
17           Gavino Bove    Southern Europe
18       Flannery Newton        Southern US
19        Katlego Akosua     Western Africa
20             Kaoru Xun       Western Asia
21        Angela Jephson     Western Canada
22         Gilbert Wolff     Western Europe
23       Derrick Snyders         Western US

## GDP

In [52]:
gdp = pd.read_csv("highest_gdp.csv", delimiter=",", encoding="windows-1252")

#filtering out entries with states Alaska
gdp = gdp[gdp['State'] != "Alaska"]

#Hawaii entries filtered too
gdp = gdp[gdp['State'] != "Hawaii"]

#tirar region, sub_region, county
gdp.drop(['Region','SUB_REGION','County'], axis = 1, inplace = True)

print("nr of states:", len(pd.unique(gdp['State'])))
print("unique states:\n", pd.unique(gdp['State']))

nr of states: 49
unique states:
 ['Alabama' 'Arizona' 'Arkansas' 'California' 'Colorado' 'Idaho' 'Illinois'
 'Indiana' 'Iowa' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Connecticut' 'Delaware' 'District of Columbia'
 'Florida' 'Georgia' 'South Dakota' 'Tennessee' 'Texas' 'Kansas'
 'Kentucky' 'Louisiana' 'Utah' 'Vermont' 'Virginia' 'Washington'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'West Virginia' 'Wisconsin' 'Missouri' 'Wyoming' 'Montana'
 'Nebraska' 'Nevada' 'New Hampshire' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Rhode Island' 'South Carolina']

In [53]:
#filtrar anos que nao estao entre 2012 e 2015
gdp = gdp[gdp['Year'].isin([2012, 2013, 2014, 2015])]

#converter year de int para date type
gdp['Year'] = pd.to_datetime(gdp['Year'], format='%Y')

In [54]:
result = gdp.groupby(['State', 'Year'])['GDP (Chained $)'].agg(['mean', 'sum'])
result

                              mean           sum
State     Year
Alabama   2012-01-01  2.780582e+09  1.862990e+11
          2013-01-01  2.808378e+09  1.881613e+11
          2014-01-01  2.788524e+09  1.868311e+11
          2015-01-01  2.825180e+09  1.892870e+11
Arizona   2012-01-01  1.788591e+10  2.682886e+11
...                            ...           ...
Wisconsin 2015-01-01  3.988837e+09  2.871963e+11
Wyoming   2012-01-01  1.670944e+09  3.843172e+10
          2013-01-01  1.673965e+09  3.850118e+10
          2014-01-01  1.681164e+09  3.866677e+10
          2015-01-01  1.726388e+09  3.970693e+10

[196 rows x 2 columns]

## Holidays

In [55]:
holiday = pd.read_csv("HolidayUSA.csv", delimiter=",", encoding="windows-1252")

#filtrar anos que nao estao entre 2012 e 2015
holiday = holiday[holiday['Year'].isin([2012, 2013, 2014, 2015])]

#converter Date de int para date type
holiday['Date'] = pd.to_datetime(holiday['Date'], format='%Y-%m-%d')
holiday['Date'] = holiday['Date'].dt.strftime('%d-%m-%Y')