# IPAI Project - 1st Phase - Point 2

## Group 1
#### Tiago Rodrigues (49593)
#### Ivo Oliveira (50301)
#### Martim Silva (51304)
#### Alexandre Sobreira (59451)

# Libraries

In [12]:
import pandas as pd

## Orders (Main table)

For the Orders dataset the following steps were performed:
- Read in the dataset
- Convert Row ID and Quantity to integer data type
- Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
- Convert Ship Date and Order Date to date data type
- Convert Segment, Category, Sub-Category and Order Priority to category data type
- Drop the Postal Code column since it wont be used for the analysis

In [13]:
# Read in the dataset
main = pd.read_excel('main.xlsx')

# Convert Row ID and Quantity to integer data type
main['Row ID'] = main['Row ID'].astype(int)
main['Quantity'] = main['Quantity'].astype(int)

# Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
main['Order ID'] = main['Order ID'].astype(str)
main['Customer ID'] = main['Customer ID'].astype(str)
main['Customer Name'] = main['Customer Name'].astype(str)
main['City'] = main['City'].astype(str)
main['State'] = main['State'].astype(str)
main['Country'] = main['Country'].astype(str)
main['Region'] = main['Region'].astype(str)
main['Market'] = main['Market'].astype(str)
main['Product ID'] = main['Product ID'].astype(str)
main['Product Name'] = main['Product Name'].astype(str)

# Convert Ship Date and Order Date to date data type
main['Ship Date'] = pd.to_datetime(main['Ship Date'])
main['Order Date'] = pd.to_datetime(main['Order Date'])

# Convert Segment, Category, Sub-Category and Order Priority to category data type
main['Segment'] = main['Segment'].astype('category')
main['Category'] = main['Category'].astype('category')
main['Sub-Category'] = main['Sub-Category'].astype('category')
main['Order Priority'] = main['Order Priority'].astype('category')

In [14]:
main = main.drop('Postal Code', axis=1)

In [15]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int32
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  category
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Region          51290 non-null  object
 12  Market          51290 non-null  object
 13  Product ID      51290 non-null  object
 14  Category        51290 non-null  category
 15  Sub-Category    51290 non-null  category
 16  Product Name    51290 non-null  object
 17  Sales           51290 non-null  float64
 18  Quantity        51290 non-null  int32
 19  Discount        51290 non-null  float64
 20  Profit          51290 non-null  float64
 21  Shipping Cost   51290 non-null  float64
 22  Order Priority  51290 non-null  category
dtypes: category(4), datetime64[ns](2), float64(4), int32(2), object(11)
memory usage: 7.2+ MB

## Customers Table

For the customers_USA dataset the following steps were performed:
- Read in the dataset
- Convert Row ID and Quantity to integer data type
- Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
- Convert Ship Date and Order Date to date data type
- Convert Segment, Category, Sub-Category and Order Priority to category data type
- Drop the Postal Code column since it wont be used for the analysis

In [16]:
# Read in the dataset
customers = pd.read_csv('costumers.csv', encoding='latin1')

# Convert Row ID and Quantity to integer data type
customers['Row ID'] = customers['Row ID'].astype(int)
customers['Quantity'] = customers['Quantity'].astype(int)

# Convert Order ID, Customer ID, Customer Name, City, State, Country, Region, Market, Product ID and Product Name to string data type
customers['Order ID'] = customers['Order ID'].astype(str)
customers['Customer ID'] = customers['Customer ID'].astype(str)
customers['Customer Name'] = customers['Customer Name'].astype(str)
customers['City'] = customers['City'].astype(str)
customers['State'] = customers['State'].astype(str)
customers['Country'] = customers['Country'].astype(str)
customers['Region'] = customers['Region'].astype(str)
customers['Product ID'] = customers['Product ID'].astype(str)
customers['Product Name'] = customers['Product Name'].astype(str)

# Convert Ship Date and Order Date to date data type
customers['Ship Date'] = pd.to_datetime(customers['Ship Date'])
customers['Order Date'] = pd.to_datetime(customers['Order Date'])

# Convert Segment, Category, Sub-Category and Order Priority to category data type
customers['Segment'] = customers['Segment'].astype('category')
customers['Category'] = customers['Category'].astype('category')
customers['Sub-Category'] = customers['Sub-Category'].astype('category')

In [17]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int32
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   category
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   category
 15  Sub-Category   9994 non-null   category
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int32
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: category(3), datetime64[ns](2), float64(3), int32(2), int64(1), object(10)
memory usage: 1.3+ MB

## Returns Table

For the Returns dataset the following steps were performed:
- Read in the dataset
- Convert Order ID and Region to string data type
- Convert Returned column to a boolean data type

In [18]:
# Read in the dataset
returns = pd.read_csv('returns.csv', encoding='latin1')

# Convert Order ID and Region to string data type
returns['Order ID'] = returns['Order ID'].astype(str)
returns['Region'] = returns['Region'].astype(str)

# Convert Returned column to a boolean data type
returns['Returned'] = returns['Returned'].map({'Yes': True, 'No': False})
returns['Returned'] = returns['Returned'].astype(bool)
returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  1079 non-null   bool
 1   Order ID  1079 non-null   object
 2   Region    1079 non-null   object
dtypes: bool(1), object(2)
memory usage: 18.0+ KB

## Sellers

For the Sellers dataset the following steps were performed:
- Read in the dataset
- Convert Person and Region to string data type

In [19]:
# Read in the dataset
sellers = pd.read_csv('sellers.csv', delimiter=';')

# Convert Person and Region to string data type
sellers['Person'] = sellers['Person'].astype(str)
sellers['Region'] = sellers['Region'].astype(str)

returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  1079 non-null   bool
 1   Order ID  1079 non-null   object
 2   Region    1079 non-null   object
dtypes: bool(1), object(2)
memory usage: 18.0+ KB

## GDP

For the GDP_USA dataset the following steps were performed:
- Read in the dataset
- Filter out all entries where the state is either Alaska or Hawaii
- Remove Region, SUB-REGION, County columns
- Filter the years that are not between 2012 and 2015
- Convert Year to an integer date type
- Calculate the mean and sum of the GDP values for each state and year

In [20]:
# Read in the dataset
gdp = pd.read_csv("highest_gdp.csv", delimiter=",", encoding="windows-1252")

# Filter out all entries where the state is either Alaska or Hawaii.
gdp = gdp[(gdp['State'] != "Alaska") & (gdp['State'] != "Hawaii")]

# Remove Region, SUB-REGION, County columns
gdp.drop(['Region','SUB_REGION','County'], axis = 1, inplace = True)

# Filter the years that are not between 2012 and 2015
gdp = gdp[gdp['Year'].isin([2012, 2013, 2014, 2015])]

# Convert Year to an integer date type
gdp['Year'] = pd.to_datetime(gdp['Year'], format='%Y') 

# Calculate the mean and sum of the GDP values for each state and year
result = gdp.groupby(['State', 'Year'])['GDP (Chained $)'].agg(['mean', 'sum'])
result

                              mean           sum
State     Year
Alabama   2012-01-01  2.780582e+09  1.862990e+11
          2013-01-01  2.808378e+09  1.881613e+11
          2014-01-01  2.788524e+09  1.868311e+11
          2015-01-01  2.825180e+09  1.892870e+11
Arizona   2012-01-01  1.788591e+10  2.682886e+11
...                            ...           ...
Wisconsin 2015-01-01  3.988837e+09  2.871963e+11
Wyoming   2012-01-01  1.670944e+09  3.843172e+10
          2013-01-01  1.673965e+09  3.850118e+10
          2014-01-01  1.681164e+09  3.866677e+10
          2015-01-01  1.726388e+09  3.970693e+10

[196 rows x 2 columns]

## Holidays

For the holiday_USA dataset the following steps were performed:
- Read in the dataset
- Filter the years that are not between 2012 and 2015
- Convert the column Date to a date data type

In [21]:
# Read in the dataset
holiday = pd.read_csv("HolidayUSA.csv", delimiter=",", encoding="windows-1252")

# Filter the years that are not between 2012 and 2015
holiday = holiday[holiday['Year'].isin([2012, 2013, 2014, 2015])]

# Convert the column Date to a date data type
holiday['Date'] = pd.to_datetime(holiday['Date'], format='%Y-%m-%d')
holiday['Date'] = holiday['Date'].dt.strftime('%d-%m-%Y')

holiday.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 8 to 339
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     76 non-null     object
 1   Holiday  76 non-null     object
 2   WeekDay  76 non-null     object
 3   Month    76 non-null     int64
 4   Day      76 non-null     int64
 5   Year     76 non-null     int64
dtypes: int64(3), object(3)
memory usage: 4.2+ KB